.container {
  width: 50%;
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  line-height: 3.4rem;
  margin: 1rem 0rem;
  margin-left: 0.5rem;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 2rem;
  }
}
